{{!-- for local-class="passing-properties h2u-yield"
<section local-class="passing-properties h2u-yield">
	<h2>{{title}}</h2>
	<section local-class="yield-section">
		{{yield}}
	</section> 
</section>
--}}
{{!-- <section local-class="share-data-content">
	<h2>{{title}}</h2>
	<section local-class="yield-section">
		{{yield (hash body=(component editStyle title=title))}}
	</section>
</section> --}}
<section local-class="defined-classname">
	<h2>{{title}}</h2>
</section>